
@{
    Layout = null; 
    ViewBag.Title = "banners";
}

<div class="shipping text-center" style="background:#f39e27">
    <!--shipping-->

    <a href="@Url.Action("Index", "Home")"> <img src="~/Resources/vinoOficialBanner.jpg" style="width: 100%; height:100%; padding =0px" /></a>




</div><!--/shipping-->
<div class="shipping text-center" style="background:#f39e27">
    <!--shipping-->


    <a href="@Url.Action("MostrarProductos", "Home")"> <img src="~/Resources/cervezaOficialBanner.jpg" style="width: 100%; height: 100%; padding =0px" /></a>

</div><!--/shipping-->
<div class="shipping text-center" style="background:#f39e27">
    <!--shipping-->


    <a href="@Url.Action("QuesosYembutidos", "Home")"> <img src="~/Resources/quesos_BAN.jpg" style="width: 100%; height: 100%; padding =0px" /></a>

</div><!--/shipping-->
<div class="shipping text-center" style="background:#f39e27">
    <!--shipping-->


    <a href="@Url.Action("productosGourmet", "Home")"> <img src="~/Resources/gourmet_BAN.jpg" style="width: 100%; height: 100%; padding =0px" /></a>

</div><!--/shipping-->

